$body-bg : #F6F6F6;
$primary-color : #FFFFFF;
$secondary-color : #EAEAEA;
$text-color : #000000;
$footer-bg : #353535;
$btn-color : #9356DC;


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}
body{
    width: 100%;
    background-color: $body-bg;
}

a {
    text-decoration: none;
    color: $text-color;
}

/* LOADER */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
    opacity: 0.7;
    inset: 0;
    z-index: 1;
    animation: loader 3000ms linear 0s  1 normal forwards;
}

@keyframes loader {
    0% {
    }
    90% {
        opacity: 0.7;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.spin {
    border-radius: 50%;
    border: 15px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

.spin:after {
    content: "";
    position: absolute;
    inset: -15px;
    width: 50px;
    height: 50px;
    border: solid 15px transparent;
    border-radius: 50%;
    border-top-color: #9356DC;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        border-top-color: #9356DC;
    }
    25% {
        border-top-color: #FF79DA;
    }
    50% {
        border-top-color: #9356DC;
    }
    75% {
        border-top-color: #FF79DA;
    }
    100% {
        transform: rotate(360deg);
        border-top-color: #9356DC;
    }
}

/* HEADER */

.header {
    width: 100%;
    height: 113px;
    display: flex;
    flex-direction: column;
    div:first-child {
        height: 63px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 2px 4px 0px #00000026;
    }
    div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        height: 50px;
        background-color: $secondary-color;
    }
    &__logo {
        height: 44px;
        width: 162px;
    }
    &__content{
        font-size: 16px;
        color: $footer-bg;
        font-weight: 500;
    }
    &__location{
        color: $footer-bg;
    }
}


/* MAIN */


/* SECTION DECOUVERTE */

.section-decouverte {
    box-sizing: border-box;
    padding: 50px 0;
    width: 100%;
    height: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-weight: 700;
        width: 90%;
        height: 68px;
        text-align: center;
    }
    &__content {
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        color: $footer-bg;
        width: 90%;
        height: 46px;
    }
    &__button {
        margin-top: 23px;
        height: 50px;
        width: 218px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        font-weight: 500;
        font-size: 16px;
        color: $primary-color;
        border: none;
        transition: all 300ms linear;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }
    }
}






/* SECTION FONCTIONNEMENT */ 

.section-fonctionnement {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 440px;
    box-sizing: border-box;
    padding: 50px 20px;
    &__group-btn {
        height: 278px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        font-weight: 700;
    }
}

.btn {
    position: relative;
    height: 73px;
    width: 100%;
    border-radius: 20px;
    background-color: $body-bg;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    transition: all 300ms linear;
    &__number {
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-color: $btn-color;
        font-size: 14px;
        color: $primary-color;
        transform: translate(-50% , 90%);
    }
    &__content {
        display: flex;
        justify-content: space-evenly;
        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.section-decouverte__icone {
    color: #7E7E7E;
    align-self: center;
    &--pink {
        color: $btn-color;
        align-self: center;
    }
}

/* SECTION RESTAURANTS */ 

.section-restaurants {
    width: 100%;
    height: 1226px;
    box-sizing: border-box;
    padding: 50px 20px;
    &__title {
        height: 68px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        height: 1058px;
        box-sizing: border-box;
    }
}

.card {
    background-color: $primary-color;
    border-radius: 15px;
    height: 251px;
    width: 100%;
    box-sizing: border-box;
    &__image {
        height: 186px;
        & img {
            border-radius: 15px 15px 0 0 ;
            height: 186px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        display: flex;
        &__info {
            box-sizing: border-box;
            padding: 10px 10px;
            height: 65px;
            width: 80%;
            & h3 {
                font-size: 18px;
            }
            & p {
                font-size: 17px;
                font-weight: 300;
            }
        }
        &__like {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            width: 20%;
            position: relative;
            &:hover .empty-heart {
                opacity: 0;
            }
            &:hover .full-heart {
                opacity: 1;
            }
        }
    }
}

.full-heart {
    position: absolute;
    width: 22px;
    fill: url(#my-gradient);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.empty-heart {
    position: absolute;
    width: 22px;
    transition: opacity 0.3s ease-in-out;
}

/* FOOTER */ 

.footer {
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 186px;
    background-color: $footer-bg;
    &__logo p {
        font-size: 18px;
        font-style: italic;
        font-family: 'Shrikhand', serif;
        width: 139px;
        height: 27px;
        color: $primary-color;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        & i {
            color: $primary-color;
            margin-right: 10px;
        }
    }
    & a {
        text-decoration: none;
        color: $primary-color;
        display: inline-block;
        display: flex;
        align-items: center;
    }
}


/* RESPONSIVE */ 

@media (min-width: 768px) {
    .section-fonctionnement {
        padding: 50px 100px;
    }
    .section-restaurants {
        padding: 50px 100px;
    }
    .card__content {
        &__info {
            width: 90%;
        }
        &__like {
            width: 10%;
        }
    }
    .footer {
        height: 114px;
        padding: 20px 100px;
        &__info {
            flex-direction: row;
        }
    }
}

@media (min-width: 1025px) {
    .spin {
        width: 200px;
        height: 200px;
    }
    
    .spin:after {
        width: 200px;
        height: 200px;
    }
    .section-fonctionnement {
        height: 228px;
        padding: 50px 12.5%;
        &__group-btn {
            height: 72px;
                flex-direction: row;
                gap: 3.5%;
        }
    }
    .btn__content {
        margin-left: 15px;
    }
    .section-restaurants {
        padding: 50px 180px;
        height: 708px;
        &__list {
            flex-direction: row;
                gap: 50px;
                justify-content: space-between;
                height: 552px;
                flex-wrap: wrap;
        }
    }
    .card {
        width: 45%;
    }
    .section-decouverte__title {
        font-size: 40px;
    }
    .footer {
        padding: 30px 25px;
        height: 114px;
        flex-direction: row-reverse;
        gap: 100px;
        &__logo {
            display: flex;
                align-items: flex-end;
        }
        &__info {
            flex-direction: row;
                gap: 20px;
                align-items: flex-end;
        }
    }
}