$body-bg : #F6F6F6;
$primary-color : #FFFFFF;
$secondary-color : #EAEAEA;
$text-color : #000000;
$footer-bg : #353535;

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}



/* HEADER */

header{
    height: 113px;
    .header__title{
        height: 63px;
        background-color: $primary-color;
    }
    .header__location{
        height: 50px;
        background-color: $secondary-color;
    }
}